<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.blanco.techmun.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-library android:name="com.google.android.maps" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MesasActivity">
        	<intent-filter>
        		<action android:name="org.blanco.techmun2011.MESAS"/>
        		<category android:name="android.intent.category.DEFAULT" ></category>
        	</intent-filter>
        </activity>
                
        <activity android:name="EventosActivity">
        	<intent-filter>
        		<action android:name="org.blanco.techmun2011.EVENTOS" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <activity android:name="ComentariosActivity">
        	<intent-filter>
        		<action android:name="org.blanco.techmun2011.COMENTARIOS" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <activity android:name="MensajesActivity">
        	<intent-filter>
        		<action android:name="org.blanco.techmun2011.MENSAJES" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <provider android:authorities="org.blanco.techmun.android.mesasprovider" 
        android:label="Mesas Content Provider" 
        android:enabled="true" 
        android:name="org.blanco.techmun.android.cproviders.TechMunContentProvider" 
        android:exported="false"></provider>

    </application>
</manifest>